@font-face{
    font-family: santiago;
    src: url("Spring\ in\ May.ttf");
}
@font-face{
    font-family: alexis;
    src: url(Malabo-Regular.ttf);
}
@font-face{
    font-family: mata;
    src: url(Bombaya.ttf);
}